:root {
  --background-text: whitesmoke;
  --primary-color: #ef5f9a;
  --secondary-color: hsl(185, 67%, 66%);
  --third-color: #fdd14f;
  --box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

html h1 {
  font-size: 40pt;
  

}
html body {
  margin-bottom: 50px;
}

h1,
h2,
h3 {
  margin: 0;
}
p{
  font-family: 'Azeret Mono', monospace;
  font-size: 10pt;
  line-height: 20pt;
}
button {
  padding: 10px 8px;
  font-size: 12pt;
  border: solid 2px white;
  box-shadow: var(--box-shadow);
  font-weight: bold;
  
}
button:hover {
  text-decoration: underline;
  color: white;
}
img {
  background: var(--background-text);
}
#about-link {
  background: var(--primary-color);
}
#projects-link {
  background: var(--secondary-color);
}
#contact-link {
  background: #fdd14f;
}
#weather-app-button {
  background: var(--third-color);
  border-radius: 4px;
}
#seaglass-button {
  background: var(--secondary-color);
  border-radius: 4px;
}
#tandem-button {
  background: var(--primary-color);
  border-radius: 4px;
}

.top-links {
  display: flex;
  justify-content: center;
}

.top-links button {
  margin: 20px;
  padding-top: 20px;
  padding-bottom: 20px; font-family: 'Azeret Mono', monospace;
}
.container-1 {
  background: #faf1f5;
}
.about-wrapper {
  margin: 100pt;
}
.about-name {
  font-family: 'Azeret Mono', monospace;
  font-weight: bold;
}
.about-subheading {
  font-size: 14pt;
  color: var(--primary-color);
  line-height: 20pt;;
}
.about-description {
  color: slategrey;
}
.profile-pic {
  border-radius: 6px;
}
.about-project-link {
  color: black;
}
.about-project-link:hover {
  color: var(--primary-color)
}
@media(max-width:576px) {
  html h1 {
    font-size: 25pt;
    padding: 10px;
  }
  img {
    margin-top:20px;
    margin-bottom: 20px;
  }
  p {
    text-align: center;
  }
  h1, h2, h3, h4{
    text-align: center;
  }
 .button-container {
   text-align: center;
 }
.about-wrapper {
  margin: 0;
  text-align: center;

}
.profile-pic {
  width: 250px;
}
}
